// site-wide variables
$primary_color:         #334760;
$secondary_color:       #3B3B3B;
$accent_color:          #e44d26;
$dark_color:            darken($primary_color, 10%);
$placeholder_color:     rgba(196, 222, 255, 0.3);

$serif-font-stack:      'Libre Baskerville', Georgia, serif;
$sans-serif-font-stack: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ms-base:               1em;
$ms-ratio:              1.333;

// imports
@import "modular-scale/_modular-scale";
@import "normalize.scss";

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
    color: #222;
    font-size: ms(1);
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    @extend ::-moz-selection;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

address {
    font-style: normal;
}

a {
    color: inherit;
    font-weight: 700;

    &.tel {
        text-decoration: none;
        font-weight: inherit;
    }
}

.main-image {
    width: 100%;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 18px/1.625  $sans-serif-font-stack;
    color: $secondary_color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $serif-font-stack;
    font-weight: 400;
    @media only screen and (max-width: 767px) { line-height: 1.3; }
}

h1, h2 { font-size: ms(2); margin: 1.75em 0 0.875em; }
h3, h4 { font-size: ms(1); margin: 1.00em 0 0.5em; }
h5, h6 { font-size: ms(0); margin: 1.00em 0 0; }

h2, h4, h6 { font-style: italic; }
h3, h5 { font-variant: small-caps; }

.wrapper {
    width: 90%;
    margin: 0 5%;

    @media only screen and (min-width: 1140px) {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==============
    Header
   ============== */

.header-container,
.cta-container {
    border-bottom: 1em solid;
}

.header-container { border-bottom-color: white; }

.cta-container { border-bottom-color: $secondary_color; }

.footer-container,
.main aside {
    border-top: 1em solid $secondary_color;
}

.header-container,
.footer-container {
    background: $primary_color;
}

.title {
    color: white;
}

.logo {
    width: 100%;
    max-width: 300px;
}

/* ==============
    Main
   ============== */

.cta-container {
    background: no-repeat top center / cover;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 767px) { flex-wrap: wrap; }
}

.cta-headers {
    margin: 3em 1em 1em;
    @media only screen and (max-width: 767px) { margin-bottom: 0; }
    color: $accent_color;
    text-align: center;

    h1:first-child{ margin-top: 0; }
    h2 {
        font-family: $sans-serif-font-stack;
        font-size: ms(0);
        font-style: normal;
    }
}

.main-form {
    background: $primary_color url('/img/form-background.png') no-repeat bottom center;
    background: $primary_color url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4MDAiIGhlaWdodD0iMTYwMCIgdmlld0JveD0iMCAwIDgwMCAxNjAwIj48cmFkaWFsR3JhZGllbnQgaWQ9ImEiIGN4PSI0MDkuMDAxIiBjeT0iLTQuMDgiIHI9IjE2MzUuMzYzIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjNTk3OUEzIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMzQ0NzYwIi8+PC9yYWRpYWxHcmFkaWVudD48cGF0aCBmaWxsPSJ1cmwoI2EpIiBkPSJNNDAwIDE2MDBMMCAxNTUzVjBoODAwdjE1NTMiLz48L3N2Zz4=) no-repeat bottom center / cover;
    padding: 1em 1em 6em;
    margin: 2em 1em -4em;
    @media only screen and (min-width: 768px) {
        margin-top: 2em;
        padding: 2em 2em 6em;
    }
    color: white;
    // following lines to fix bottom negative margin
    position: relative;
    z-index: 10;

    .no-flexbox & { margin-bottom: 1em; }
}

// media queries for cta-headers and form ordering
@media screen and (max-width: 767px) {
    .cta-headers, .main-form { width: 100%; }
    .main-form { order: 2; }
    .cta-headers { order: 1; }
}

@media only screen and (min-width: 768px) {
    .cta-headers, .main-form {
        width: 40%;
        max-width: 500px;
        .no-flexbox & { float: left; }
    }
}

.main {
    padding: 2em 0;

    &-container {
        background: white no-repeat top center / contain;
    }

    aside,
    &-content { box-sizing: border-box; }

    aside {
        background: $primary_color;
        color: white;
        padding: 0px 5% 1em;
    }

    &-content {
        border-top: white solid 1em;
        padding: 0 5% 1em;
        background-color: rgba(white, 0.8);

        @media only screen and (min-width: 768px) { width: 100%; }
    }
}

.advertiser-logo {
    max-width: 100%;
    @media only screen and (min-width: 768px) {
        max-width: 50%;
        margin: 0 auto;
    }
}

/* ==============
    Forms
   ============== */

.main-form h2:first-child { margin-top: 0; }

label {
    &:not(.radio) {
        text-transform: uppercase;
        font-size: ms(-1);
        letter-spacing: .075em;
    }

    &.radio {
        display: inline-block;
        margin-right: 1em;
    }
    + input, + input + input, + select { margin-top: 0; }

    &[for="cc-exp"], &[for="cvc"] { display: block; }
}

input,
select,
button,
a.button {
    display: block;
    border: 0;
    padding: .5em;
    margin: .5em 0;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    background-color: $dark_color;
    transition: .3s ease all;
}

input {
    &[placeholder] { text-overflow: ellipsis; }
    &[type="radio"] {
        display: inline-block;
        width: auto;
        margin-right: .5em;
    }
}

select {
    height: 2.1em;
}

button,
a.button {
    text-align: center;
    background-color: $accent_color;
    cursor: pointer;
    &:hover, &:focus { background-color: darken( $accent_color, 10% ); }
    &:active { background-color: darken( $accent_color, 25% ); }

    .js .address &, .js .payment & {
        width: 49%;
        display: inline-block;
    }
}

fieldset {
    .js &.address, .js &.payment { display: none; }
}

.no-js .button {
    &.back, &.next { display: none; }
}

#cc-exp-month { margin-right: .25em; }

#cc-exp-month, #cc-exp-year, #cvc {
    width: 4em;
    display: inline-block;
}

::-webkit-input-placeholder { color: $placeholder_color; }
:-moz-placeholder { color: $placeholder_color; }
::-moz-placeholder { color: $placeholder_color; }
:-ms-input-placeholder  { color: $placeholder_color; }

/* ==============
    Footer
   ============== */

.footer-container footer {
    color: white;
    padding: 1em 0;

    a { color: white; }
}

.copyright {
    font-size: ms(-1);
    text-align: center;
}

/* ===============
    Card icons
   =============== */

#cardnumber {
    background-size: 9%;
    background-repeat: no-repeat;
    background-position: 98%;
    transition: all .3s ease;

    &.amex { background-image: url('/SVG/compressed/amex.svg'); }
    &.diners_club_carte_blanche, &.diners_club_international { background-image: url('/SVG/compressed/diners.svg'); }
    &.discover { background-image: url('/SVG/compressed/discover.svg'); }
    &.jcb { background-image: url('/SVG/compressed/jcb.svg'); }
    &.maestro { background-image: url('/SVG/compressed/maestro.svg'); }
    &.mastercard { background-image: url('/SVG/compressed/mastercard.svg'); }
    &.visa { background-image: url('/SVG/compressed/visa.svg'); }

    &.valid { color: green; }
    &.invalid.valid-length { color: red; }
}

/* ===============
    IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

.ie9, .lt-ie9 {
    label.visuallyhidden {
        position: relative;
        height: auto;
        width: auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.invisible {
    visibility: hidden;
}

.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after { clear: both; }

        *zoom: 1;
}

.spinner {
    border: 3px solid rgba(255, 255, 255, .3);
    border-top-color: rgba(255, 255, 255, .8);
    border-radius: 100%;
    height: 0.8em;
    width: 0.8em;
    display: inline-block;
    position: relative;
    top: 0.1em;
    animation: loading_rotation .6s infinite linear;

    * + & { margin-left: 6px; }
}

@keyframes loading_rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.spinner.div-center {
    display: block;
    margin: 0 auto;
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
